<mat-toolbar class="home-toolbar mat-elevation-z2" color="primary">
    <div>
        <h1>Dashboard</h1>
    </div>
    <div class="user-profile">
        <span>
            Welcome, <b> Admin</b>
        </span>
    </div>
</mat-toolbar>
<mat-spinner *ngIf="loading$ | async; else content" class="spinner" color="accent"></mat-spinner>
<ng-template #content>
    <div class="padding-content">
        <app-dashboard-data [dashboardData]="employee.employeesOverviewSubject | async"></app-dashboard-data>
        <app-employees [employees]="employee.employeesSubject | async"></app-employees>
    </div>
</ng-template>