.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

.home-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.5px 20px;
    top: 0;
    position: sticky;
    z-index: 499;

    .mat-button-draw {
        margin-right: 5px;
    }
    h1 {
        display: inline-block;
        vertical-align: middle;
    }
}

.flex-fill {
    flex: 1;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1rem;
}

.margin-right {
    margin-right: 8px;
}

@media (max-width: 450px) {
    .user-profile span {
        display: none;
    }
}
