<h2>Employees</h2>
<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Total Time Column -->
    <ng-container matColumnDef="totalTime">
        <th mat-header-cell *matHeaderCellDef> Total time [h] </th>
        <td mat-cell *matCellDef="let element"> {{element.totalHours}} </td>
    </ng-container>

    <!-- Paid Regular Column -->
    <ng-container matColumnDef="totalPaidRegular">
        <th mat-header-cell *matHeaderCellDef> Total paid regular [$] </th>
        <td mat-cell *matCellDef="let element"> {{element.paidForRegularHours | number:'1.2-2'}} </td>
    </ng-container>

    <!-- Paid Overtime Column -->
    <ng-container matColumnDef="totalPaidOvertime">
        <th mat-header-cell *matHeaderCellDef> Total paid overtime [$] </th>
        <td mat-cell *matCellDef="let element"> {{element.paidForOvertimeHours | number:'1.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'selected': selection.isSelected(row)}">
    </tr>
</table>

<div class="margin">
    <button mat-raised-button color="primary" (click)="openBulkEditDialog()">
        Bulk Edit
    </button>
</div>