<h2>Overview</h2>
<dl *ngIf="dashboardData">
    <dt>Total Employees</dt>
    <dd>{{dashboardData.totalEmployees}}</dd>
    <dt>Total time</dt>
    <dd>{{dashboardData.totalClockedInTime}}</dd>
    <dt>Total paid for regular</dt>
    <dd>{{dashboardData.paidForRegularHours}}</dd>
    <dt>Total paid for overtime</dt>
    <dd>{{dashboardData.paidForOvertimeHours}}</dd>
</dl>