/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding-content {
    padding: 16px;
}

.margin {
    margin: 16px;
}

.half-width {
    width: 50%;
}

@media (max-width: 710px) {
    .half-width {
        width: 100%;
    }
}
