<h2 mat-dialog-title>Bulk Edit</h2>
<mat-dialog-content>

    <form *ngFor="let employeeSubform of bulkForm.controls; index as i" [formGroup]="employeeSubform">
        <h4>
            <b>
                Employee #{{employeeSubform.controls['id'].value}}
            </b>
        </h4>
        <mat-form-field class="half-width">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="employeeSubform.controls['name']" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="employeeSubform.controls['active']">
                <mat-option *ngFor="let status of activeStatus" [value]="status.value">
                    {{status.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="half-width">
            <mat-label>Hourly rate</mat-label>
            <input matInput [formControl]="employeeSubform.controls['hourlyRate']" type="number">
        </mat-form-field>
        <mat-form-field class="half-width">
            <mat-label>Overtime rate</mat-label>
            <input matInput [formControl]="employeeSubform.controls['overtimeHourlyRate']" type="number">
        </mat-form-field>
        <br>
        Shifts
        <ul class="shifts-list">
            <li *ngFor="let shiftSubform of employeeSubform.controls['shifts'].controls; index as i">
                <ng-container [formGroup]="shiftSubform">
                    <div>
                        #{{i+1}}
                    </div>
                    <mat-form-field class="half-width">
                        <mat-label>Clock in</mat-label>
                        <input matInput [ngxMatDatetimePicker]="picker1" formControlName="clockIn">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker1>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>

                    <mat-form-field class="half-width">
                        <mat-label>Clock in</mat-label>
                        <input matInput [ngxMatDatetimePicker]="picker2" formControlName="clockOut">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker2>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                    <div *ngIf="shiftSubform.errors" class="invalid-feedback text-left">
                        <div *ngIf="shiftSubform.errors.datesInvalid">Dates out of range!</div>
                    </div>
                    <br>
                </ng-container>
            </li>
        </ul>
        <mat-divider></mat-divider>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="saveBulk()" cdkFocusInitial>Save</button>
</mat-dialog-actions>